*{
    color: #976adb;
    color: #99ef04;
    color: #000000;
    color: #4e4d8c;
    color: #ffffff43;


color: #010e17;
color: #f9fcff;
color: #1e94f4;
color: #a2b3f9;
color: #ee8d8dfb;
flex-direction: column;
}